@use 'variables';

body{
    margin: 0;
    padding: 0;
    width: 100vw;
}
#header{
    height: 90px;
    padding: 0;
    margin: 0;
    background-color: variables.$color5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    color: variables.$color8;
    .headerLogo{
        margin: 0;
        padding: 0;
        margin-left: 15px;
    }
    .menu-burger{
        height: 40px;
        width: 40px;
        border: 1px solid variables.$color9;
        display: grid;
        place-items: center;
        color: variables.$color9; 
        border-radius: 100%;
        margin-right: 15px;
    }
    .headerOptions{
        display: none;
    }
}
#footer{
    height: 450px;
    width: 100%;
    background-color: variables.$color6;
    font-family: "inter", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .footerCardContent{
        color: variables.$color7;
        font-size: 12px;
        display: flex;
        gap: 20px;
        .footerCardContentRow{
            display: flex;
            gap: 20px;
        }
    }
    .footerCardTitle{
        color: variables.$color1;
        font-weight: 700;
    }
    .footerCard{
        padding-left: 0;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 15px;
    }
    .footerCard:nth-child(1){
        padding-top: 40px;
        .footerCardContent{
            display: flex;
            flex-direction: column;
        }
    }
    .footerCard:nth-child(3){
        .footerCardContent{
            flex-direction: row;
            gap: 13.33px;
        }
        .footerCardTitle{
            color: variables.$color4;
        }
        .fa{
            font-size: 1rem;
            display: grid;
            place-items: center;
            height: 30px;
            width: 30px;
            background-color: variables.$color5;
            border-radius: 100%;
        }
    }
    .footerCard:nth-child(4){
        // display: flex;
        // flex-direction: column;
        // align-items:flex-end;
        opacity: 0.4;
        color: variables.$color1;
        font-size: 12px;
        font-weight: 400;
        padding-bottom: 40px;
        .footerCardContentRow{
            gap: 10px;
        }
    }
}
@media only screen and (min-width: 1024px){
    #header{
        width: 100%;
        height: 84px;
        background-color: variables.$color5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .headerLogo{
            margin-left: 80px;
            padding: 0;
            font-size: 18.75px;
            font-family: sans-serif;
            color: variables.$color8;
        }
        .headerOptions{
            display: block;
            margin-right: 80px;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            color: variables.$color1;
            ul{
                display: flex;
                align-items: center;
                gap: 30px;
                list-style: none;
                .signUpOption{
                    margin-left: 30px;
                    color: variables.$color4;
                }
                .logInOption{
                    width: 86px;
                    height: 48px;
                    display: grid;
                    place-items: center;
                    border: 1px solid variables.$color9;
                    color: variables.$color9;
                    border-radius: 40px;
                }
                li:active{
                    color:variables.$color8;
                    text-decoration-line: underline;
                }
            }
        }
        .menu-burger{
            display: none;
        }
    }
    #footer{
        height: 274px;
        width: 100%;
        background-color: variables.$color6;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        font-family: "Inter", sans-serif;
        gap: 0;
        .footerCardContent{
            color: variables.$color7;
            font-size: 12px;
            display: flex;
            gap: 20px;
            .footerCardContentRow{
                display: flex;
                gap: 20px;
            }
        }
        .footerCard{
            padding-left: 0;
            padding-top: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .footerCard:nth-child(1){
            padding-top: 0;
            margin-top: 60px;
            margin-left: 80px;
            grid-column: 1 / 2;
            grid-row: 1 / 2;  
            .footerCardContent{
                flex-direction: row;
            }
        }
        .footerCard:nth-child(2){
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            margin-bottom: 60px;
            margin-left: 80px;
            margin-top: 20px;
        }
        .footerCard:nth-child(3){
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            margin-top: 60px;
            margin-bottom: 20px;
            .footerCardContent{
                flex-direction: row;
                gap: 15px;
            }
        }
        .footerCard:nth-child(4){
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            margin-bottom: 60px;
            margin-top: 20px;
            flex-direction: row;
            align-items:flex-end;
            opacity: 0.4;
            color: variables.$color1;
            font-size: 12px;
            font-weight: 400;
            .footerCardContentRow{
                gap: 10px;
            }
        }
        .footerCardTitle{
            color: variables.$color1;
            font-weight: 700;
        }
        .fa{
            font-size: 1rem;
            display: grid;
            place-items: center;
            height: 30px;
            width: 30px;
            background-color: variables.$color5;
            border-radius: 100%;
        }
    }
}
