@use 'variables';
@use 'mixins';

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
#header{
    height: 90px;
    padding: 0;
    margin: 0;
    background-color: variables.$color5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    color: variables.$color8;
    .headerLogo{
        margin: 0;
        padding: 0;
        margin-left: 15px;
    }
    .menu-burger{
        height: 40px;
        width: 40px;
        border: 1px solid variables.$color4;
        display: grid;
        place-items: center;
        color: variables.$color4; 
        border-radius: 100%;
        margin-right: 15px;
    }
    .menu-burger:hover{
        @include mixins.buttonHovered();
    }
    .menu-burger:active{
        @include mixins.buttonActive();
    }
    .headerOptions{
        display: none;
    }
}
#footer{
    height: 450px;
    width: 100%;
    background-color: variables.$color6;
    font-family: "inter", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .footerCardContent{
        color: variables.$color7;
        font-size: 12px;
        display: flex;
        gap: 20px;
        .footerCardContentRow{
            display: flex;
            gap: 20px;
        }
        i:hover{
            @include mixins.buttonHovered();
        }
        i:active{
            @include mixins.buttonActive();
        }
    }
    .footerCardTitle{
        color: variables.$color1;
        font-weight: 700;
    }
    .footerCard{
        padding-left: 0;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 15px;
    }
    .footerCard:nth-child(1){
        padding-top: 40px;
        .footerCardContent{
            display: flex;
            flex-direction: column;
        }
    }
    .footerCard:nth-child(3){
        .footerCardContent{
            flex-direction: row;
            gap: 13.33px;
        }
        .footerCardTitle{
            color: variables.$color4;
        }
        .fa{
            font-size: 1rem;
            display: grid;
            place-items: center;
            height: 30px;
            width: 30px;
            background-color: variables.$color5;
            border-radius: 100%;
        }
    }
    .footerCard:nth-child(4){
        opacity: 0.4;
        color: variables.$color1;
        font-size: 12px;
        font-weight: 400;
        padding-bottom: 30px;
        .footerCardContentRow{
            gap: 10px;
        }
    }
}
.selected{
    color: variables.$color9;
}
.cards{
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .card{
        width: 290px;
        height: 300px;
        border-radius: 6px;
        background-color: variables.$color2;
        display: grid;
        grid-template-rows: 1fr 44px;
        font-family: 'Inter', sans-serif;
        .cardThumbnail{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            border-radius: 6px;
        }
        .isRead{
            grid-row: 1 / 2;
            visibility: hidden; //add change when hovered and active
            width: 20px;
            height: 0px; //addchange when hovered and activ
            margin-bottom: 10px;
            border: 1px solid variables.$color5;
            display: grid;
            place-items: center;
            border-radius: 100%;
        }
        .cardTitle{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            height: fit-content;
            align-self: flex-end;
            padding: 10px 20px;
            padding-right: 80px;
            font-weight: 700;
            background-color: variables.$color2;
            
        }
        .cardLine{
            width: 250px;
            margin: 0px 20px;
            border: 0.25px solid variables.$color4;
            position: relative;
            bottom: 45px;
        }
        .dateAndLikes{
            grid-row: -1 / -2;
            grid-column: 1 / 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            color: variables.$color4;
            font-size: 12px;
            .date{
                padding-left: auto;
                padding-right: auto;
                border: 1px solid variables.$color4;
                padding: 4px 10px;
                border-radius: 40px;
            }
            .likes{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .hoveredHeart{
                    font-size: 16px;
                }
                .hoveredHeart:hover{
                    @include mixins.heartHovered();
                }
            }
        }
        .cardShadow{
            grid-column: 1 / 2;
            grid-row: 1/ 2;
            visibility: hidden;
            background: linear-gradient(180deg, variables.$color5 0%, rgba(25, 33, 64, 0) 70.8%);
            border-radius: 6px;
        }
        .removeIcon{
            visibility: hidden; // change when hover and active
            grid-column: 1 / 2;
            grid-row: 1/ 2;
            height: 20px;
            width: 20px;
            position: relative;
            left: 87%;
            top: 5%;
            border: 1px solid variables.$color4;
            border-radius: 100%;
            i{
                position: relative;
                top: 1px;
                display: grid;
                place-items: center;
                color: variables.$color4;
            }
        }
        .removeIcon:hover{
            @include mixins.buttonHovered();
        }
        .removeIcon:active{
            @include mixins.buttonActive();
        }
    }
    .card:hover{
        .removeIcon{
            visibility: visible;
        }
        .cardShadow{
            visibility: visible;
        }
    }
    .card:active{
        .removeIcon{
            visibility: visible;
        }
        .cardShadow{
            visibility: visible;
        }
    }
    
}


@media only screen and (min-width: 1024px){
    #header{
        width: 100%;
        height: 84px;
        background-color: variables.$color5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .headerLogo{
            margin-left: 80px;
            padding: 0;
            font-size: 18.75px;
            font-family: sans-serif;
            color: variables.$color8;
        }
        .headerOptions{
            display: block;
            margin-right: 80px;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            color: variables.$color1;
            ul{
                display: flex;
                align-items: center;
                gap: 30px;
                list-style: none;
                .signUpOption{
                    margin-left: 30px;
                    color: variables.$color4;
                }
                .logInOption{
                    width: 86px;
                    height: 48px;
                    display: grid;
                    place-items: center;
                    border: 1px solid variables.$color9;
                    color: variables.$color9;
                    border-radius: 40px;
                }
                li:hover, li:active{
                    color:variables.$color8;
                    text-decoration-line: underline;
                    cursor: pointer;
                }
                #logInButton:hover{
                    @include mixins.buttonHovered();
                }
                #logInButton:active{
                    @include mixins.buttonActive();
                }
            }
        }
        .menu-burger{
            display: none;
        }
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        place-items: center;
        gap: 40px;
        .card{
            width: 320px;
            .cardLine{
                width: 280px;
            }
        }
    }
    #footer{
        height: 274px;
        width: 100%;
        background-color: variables.$color6;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        font-family: "Inter", sans-serif;
        gap: 0;
        .footerCardContent{
            color: variables.$color7;
            font-size: 12px;
            display: flex;
            gap: 20px;
            .footerCardContentRow{
                display: flex;
                gap: 20px;
            }
        }
        .footerCard{
            padding-left: 0;
            padding-top: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .footerCard:nth-child(1){
            padding-top: 0;
            margin-top: 60px;
            margin-left: 80px;
            grid-column: 1 / 2;
            grid-row: 1 / 2;  
            .footerCardContent{
                flex-direction: row;
            }
        }
        .footerCard:nth-child(2){
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            margin-bottom: 60px;
            margin-left: 80px;
            margin-top: 20px;
        }
        .footerCard:nth-child(3){
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            margin-top: 60px;
            margin-bottom: 20px;
            .footerCardContent{
                flex-direction: row;
                gap: 15px;
            }
        }
        .footerCard:nth-child(4){
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            margin-bottom: 60px;
            margin-top: 20px;
            flex-direction: row;
            align-items:flex-end;
            opacity: 0.4;
            color: variables.$color1;
            font-size: 12px;
            font-weight: 400;
            .footerCardContentRow{
                gap: 10px;
            }
        }
        .footerCardTitle{
            color: variables.$color1;
            font-weight: 700;
        }
        .fa{
            font-size: 1rem;
            display: grid;
            place-items: center;
            height: 30px;
            width: 30px;
            background-color: variables.$color5;
            border-radius: 100%;
        }
    }
}
