@mixin cardOnMobile(){
    width: 290px;
    height: 257px;
}
@mixin cardImgShadowMobile(){
    width: 290px;
    height: 250px;
    background: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%);
    border-radius: 6px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
@mixin cardImgSizeMobile(){
    height: 250px;
    width: 290px;
    border-radius: 6px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
@mixin buttonHovered(){
    color: $color-9;
    border: 1px solid $color-9;
}
@mixin buttonActive(){
    background-color: $color-9;
    border: 1px solid $color-9;
    i{
        color: $color-1;
    }
}