body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

#header {
  height: 90px;
  padding: 0;
  margin: 0;
  background-color: #192140;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  color: #DCF10D;
}
#header .headerLogo {
  margin: 0;
  padding: 0;
  margin-left: 15px;
}
#header .menu-burger {
  height: 40px;
  width: 40px;
  border: 1px solid #0266FF;
  display: grid;
  place-items: center;
  color: #0266FF;
  border-radius: 100%;
  margin-right: 15px;
}
#header .headerOptions {
  display: none;
}

#footer {
  height: 450px;
  width: 100%;
  background-color: #10131C;
  font-family: "inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#footer .footerCardContent {
  color: #D7F8FF;
  font-size: 12px;
  display: flex;
  gap: 20px;
}
#footer .footerCardContent .footerCardContentRow {
  display: flex;
  gap: 20px;
}
#footer .footerCardTitle {
  color: #FFFFFF;
  font-weight: 700;
}
#footer .footerCard {
  padding-left: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 15px;
}
#footer .footerCard:nth-child(1) {
  padding-top: 40px;
}
#footer .footerCard:nth-child(1) .footerCardContent {
  display: flex;
  flex-direction: column;
}
#footer .footerCard:nth-child(3) .footerCardContent {
  flex-direction: row;
  gap: 13.33px;
}
#footer .footerCard:nth-child(3) .footerCardTitle {
  color: #9D9DB5;
}
#footer .footerCard:nth-child(3) .fa {
  font-size: 1rem;
  display: grid;
  place-items: center;
  height: 30px;
  width: 30px;
  background-color: #192140;
  border-radius: 100%;
}
#footer .footerCard:nth-child(4) {
  opacity: 0.4;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 40px;
}
#footer .footerCard:nth-child(4) .footerCardContentRow {
  gap: 10px;
}

.cards {
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  flex: wrap;
  justify-content: space-around;
  align-items: center;
}
.cards .card {
  width: 320px;
  height: 300px;
  border-radius: 6px;
  background-color: #F8F9FC;
  display: grid;
  grid-template-rows: 1fr 44px;
  font-family: "Inter", sans-serif;
}
.cards .card .dateAndLikes {
  grid-row: -1/-2;
  grid-column: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #9D9DB5;
}
.cards .card .dateAndLikes .date {
  padding-left: auto;
  padding-right: auto;
  border: 1px solid #9D9DB5;
  padding: 4px 10px;
  border-radius: 40px;
}

@media only screen and (min-width: 1024px) {
  #header {
    width: 100%;
    height: 84px;
    background-color: #192140;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .headerLogo {
    margin-left: 80px;
    padding: 0;
    font-size: 18.75px;
    font-family: sans-serif;
    color: #DCF10D;
  }
  #header .headerOptions {
    display: block;
    margin-right: 80px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
  }
  #header .headerOptions ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
  }
  #header .headerOptions ul .signUpOption {
    margin-left: 30px;
    color: #9D9DB5;
  }
  #header .headerOptions ul .logInOption {
    width: 86px;
    height: 48px;
    display: grid;
    place-items: center;
    border: 1px solid #0266FF;
    color: #0266FF;
    border-radius: 40px;
  }
  #header .headerOptions ul li:active {
    color: #DCF10D;
    text-decoration-line: underline;
  }
  #header .menu-burger {
    display: none;
  }
  #footer {
    height: 274px;
    width: 100%;
    background-color: #10131C;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-family: "Inter", sans-serif;
    gap: 0;
  }
  #footer .footerCardContent {
    color: #D7F8FF;
    font-size: 12px;
    display: flex;
    gap: 20px;
  }
  #footer .footerCardContent .footerCardContentRow {
    display: flex;
    gap: 20px;
  }
  #footer .footerCard {
    padding-left: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #footer .footerCard:nth-child(1) {
    padding-top: 0;
    margin-top: 60px;
    margin-left: 80px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #footer .footerCard:nth-child(1) .footerCardContent {
    flex-direction: row;
  }
  #footer .footerCard:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 60px;
    margin-left: 80px;
    margin-top: 20px;
  }
  #footer .footerCard:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  #footer .footerCard:nth-child(3) .footerCardContent {
    flex-direction: row;
    gap: 15px;
  }
  #footer .footerCard:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 60px;
    margin-top: 20px;
    flex-direction: row;
    align-items: flex-end;
    opacity: 0.4;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
  }
  #footer .footerCard:nth-child(4) .footerCardContentRow {
    gap: 10px;
  }
  #footer .footerCardTitle {
    color: #FFFFFF;
    font-weight: 700;
  }
  #footer .fa {
    font-size: 1rem;
    display: grid;
    place-items: center;
    height: 30px;
    width: 30px;
    background-color: #192140;
    border-radius: 100%;
  }
}/*# sourceMappingURL=main.css.map */